<% if user_signed_in? %>
    <h1>Bienvenido <%= current_user.username %></h1>
<% else %>
    <h1>Bienvenido a Chq.to</h1>
<% end %>
<p>En esta pagina podras recortar una URL. Un acortador de URL es un tipo de servicio software que permite usar URL cortas las cuales redirigen a la URL original. El objetivo de este tipo de servicios es hacer la URL más manejable y fácil de compartir y recordar.</p>


