<p style="color: green"><%= notice %></p>

<h1>Links</h1>

<div id="links">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Original</th>
      <th scope="col">ShortLink</th>
      <th scope="col">Categoria</th>
      <th scope="col">Accesos Diarios</th>
      <th scope="col">Total Accesos</th>
    </tr>
    </thead>
  <% @links.each do |link| %>
  <tbody>
    <%= render link %>
    </tbody>
  <% end %>
  </table>
</div>



