
<h1>Ingresa la contraseña</h1>

<%= form_with(url: verify_password_link_path, method: :post) do |form| %>

  <div>
    <%= form.label :password, 'Contraseña:' %>
    <%= form.password_field :password %>
  </div>

  <%= form.submit 'Ingresar' %>
<% end %>
